*.rar
*.o
*.d
*.crf
*.htm
*.build_log.htm
*.build_log
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.hp
*.uvoptx
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
*.uvprojx
!*.h
!*.c
*.ioc
*.axf
*.bin
*.hex

build/
RTE/
Templates/
Examples/
DebugConfig/  
OBJ/



